mat-form-field{
    color: purple !important;
}

.input mat-label{
    color: #748AA1;
}

.input mat-label label{
    color: #748AA1;
}

::placeholder {
    color: #748AA1 !important;
}
.titulo {
  font-size: 47px;
}

.button {
  width: 100%;
  margin-right: 3%;
}
